@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background: url('assets/istockphoto-1083383864-170667a.jpg') 
    no-repeat;
    background-size: cover;
}

*{
    font-family: 'Montserrat', san-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,span{
    color: rgb(69, 69, 69)
}

